* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;

        .top {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            a {
                text-decoration: none;
            }
        }

        .bottom {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .card {
                width: 32%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 20px;

                img {
                    width: 90%;
                }

                a {
                    text-decoration: none;
                    color: black;
                }

                h1 {
                    font-size: 20px;
                    font-weight: 500;
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}


@media screen and (min-width:992px) and (max-width:1200px) {}

@media screen and (min-width:768px) and (max-width:992px) {
    .page {
        .container {
            .bottom {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 40px;

                .card {
                    width: 45%;
                }
            }
        }
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .page {
        .container {
            .bottom {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 40px;

                .card {
                    width: 45%;
                }
            }
        }
    }
}

@media screen and (min-width:300px) and (max-width:576px) {
    .page {
        .container {
            .bottom {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .card {
                    width: 85%;
                }
            }
        }
    }
}